toolchain/build
toolchain/temp
toolchain/ndk
toolchain/adb
toolchain/bin
toolchain/python

output
.idea
.settings
**/__pycache__
**/tsconfig.jsons

*.bat
*.log
*.icmod
.vscode

tsconfig.json
tsconfig.json
tsconfig.json
typescript/tsconfig.json
tsconfig.json
tsconfig.json
launcher.js
native/manifest
package-lock.json
package.json
java/manifest
.classpath
/declarations
